/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
} */
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 3vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, serif; 
}
.ver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2vw;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, serif;
}
.datetime{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2vw;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, serif;
}

.tt{
    margin-top: 40px;    
}

#dateH{
    border: 5px solid #e2afaf; 
    width: 600px; 
    margin: auto; 
    height: 100px;
    font-weight: 100;
    font-size: 50px;
    font-weight: 100;
    background-color: lightcoral;
    color: rgb(250, 250, 250);
    font-family: Verdana, Geneva, Tahoma, serif;
    text-align: center;
    padding-top: 13px;
    
}

#timeH{
    border: 5px solid #e2afaf; 
    width: 600px; 
    margin: auto; 
    height: 100px;
    font-weight: 100;
    font-size: 50px;
    font-weight: 100;
    margin-top: 20px;
    background-color: lightcoral;
    color: rgb(250, 250, 250);
    font-family: Verdana, Geneva, Tahoma, serif;
    text-align: center;
    padding-top: 13px;
}

#dateL,#timeL{
    display: grid;
    font-weight: 100;
    font-size: 25px;
    margin: auto; 
    font-family: Verdana, Geneva, Tahoma, serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#desci{
    padding-top: 10px;
    background: linear-gradient(100deg, rgb(247, 16, 66) 0%, rgb(251, 198, 22) 100%);
    height: auto;
    width: auto;
    margin: 200px 0px;
    text-align: left;
}

#btnAbout{
    width: 400px;
    margin: auto;
    height: 55px;
    display: grid;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 5px;
    background-color: rgba(240, 203, 124, 0.822);
    color: rgb(14, 5, 5);
    border-radius: 20px;
    border-color: rgb(59, 234, 247);
    font-size: 30px;
}

#decL{
    font-size: 50px;
    color: lightcyan;
    padding-left: 50px;
}

#descId{
    font-size: 20px;
    padding-left: 90px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 90px;
    text-align: justify;
    font-weight: bolder;
    color:rgb(72, 74, 77);
    font-family: Verdana, Geneva, Tahoma, serif;
}